@include temperatures();

//
.expanded-view        {display:flex; width:100%; padding:5px; align-items:center;

  //
  & > *               {margin:0px 4px;}

  // histroical stats
  .historical-stats   {display:flex;
    svg               {
      g               {
        rect          {fill:$light-gray; transition: fill 200ms ease;
          &.cool      {fill:$cool;}
          &.warm      {fill:$warm;}
          &.hot       {fill:$hot;}
        }
      }
    }
  }

  // live stats
  .live-stats         {display:flex;
    svg               {
      rect            {fill:$light-gray; transition: fill 200ms ease;
        &.cool        {fill:$cool;}
        &.warm        {fill:$warm;}
        &.hot         {fill:$hot;}
      }
    }
  }

  // stats
  .stats              {
    .stat             {text-align:left; text-transform:uppercase; font-size:10px; line-height:12px; color:$gray; transition: color 200ms ease;
      .percent        {font-size:14px;}
      .label          {}

      &.cool          {color:$cool;}
      &.warm          {color:$warm;}
      &.hot           {color:$hot;}
    }
  }

  // face
  .face               {margin-left:8px;
    .shadow-parent    {height:$face-size; width:$face-size;}
  }
}
