@include temperatures();

@mixin transition ($property:all, $duration:0.05s, $timing:linear, $delay:0s) {
  @if $property != none {
    -webkit-transition: $property $duration $timing $delay;
    -moz-transition: $property $duration $timing $delay;
    -o-transition: $property $duration $timing $delay;
    transition: $property $duration $timing $delay;
  } @else {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
  }
}

@mixin drop-shadow ($xoffset:0px, $yoffset:1px, $blur:2px, $color:$gray_15, $radius:0px) {
  // @include box-shadow();
  -webkit-box-shadow: $xoffset $yoffset $blur $radius $color;
  -moz-box-shadow: $xoffset $yoffset $blur $radius $color;
  box-shadow: $xoffset $yoffset $blur $radius $color;
}

$yellow:          #FFCC4A;
$dashboard_1:     #F8F8F8;
$dashboard_8:     #E6E6E6;
$dashboard_73:    #48B5DA;
$dashboard_82:    #1581BA;

//
.expanded-view        {display:flex; flex-direction:column; position:relative; width:100%;

  .stat-row           {display:flex;}

  //
  h4.title            {width:100%; margin:0px 0px 20px 0px; font-size:12px; line-height:12px; text-align:left; font-style:italic; color:#547F91;}

  // histroical stats
  .historical-stats   {
    svg               {
      g               {
        rect          {fill:$stat-bg; // transition: fill 200ms ease;
          &.cool      {fill:$cool;}
          &.warm      {fill:$warm;}
          &.hot       {fill:$hot;}
        }
      }
    }
  }

  // live stats
  .live-stats         {margin-left:20px;
    svg               {
      rect            {fill:$stat-bg; transition: fill 200ms ease;
        &.cool        {fill:$cool;}
        &.warm        {fill:$warm;}
        &.hot         {fill:$hot;}
      }
    }
  }

  // stats
  .stats              {position:relative;
    .stat             {position:absolute; top:0px; left:5px; text-align:left; text-transform:uppercase; font-size:10px; line-height:12px; color:$gray; transition: color 200ms ease;
      .percent        {font-size:14px;}
      .label          {}

      &.cool          {color:$cool;}
      &.warm          {color:$warm;}
      &.hot           {color:$hot;}

      // if you want something done right... do it manually.
      &:nth-child(1)  {top:14px;}
      &:nth-child(2)  {top:59px;}
      &:nth-child(3)  {top:104px;}
      &:nth-child(4)  {top:149px;}
    }
  }

  // timeline
  .timeline           {position:relative; top:0px; left:-10px; font-size:10px; line-height:10px; fill:$gray; user-select:none;
    svg               {
      text            {text-anchor:middle;}
      .time           {
        &.primary     {}
        &.secondary   {fill:$light-gray;}
      }
    }
  }

  //
  .toggle-slider                    {position:relative; width:195px; height:22px; font-size:11px; text-align:center; line-height:24px; background:$dashboard_1; cursor:pointer;

    @mixin bracket                  {content:""; position:absolute; top:-1px; bottom:-1px; width:3px; border:1px solid $dashboard_8;}
    &:before                        {@include bracket; left:-1px; border-right-color:transparent;}
    &:after                         {@include bracket; right:-1px; border-left-color:transparent;}

    span                            {color:$dashboard_73;
      // &:before                      {@include pagodacons(normal, '\0032'); margin-right:3px; font-size:16px;}
      // &:after                       {@include svgArrow('up', 'blue'); content:""; position:absolute; top:7px; right:9px;}
    }

    &:hover                         {background:$dashboard_73;
      &:after                       {color:$dashboard_82; border-color:$dashboard_82; border-left-color: transparent;}
      &:before                      {color:$dashboard_82; border-color:$dashboard_82; border-right-color:transparent;}

      span                          {color:$dashboard_82;
        // &:after                     {@include svgArrow('up', 'dashboard_85'); content:""; position:absolute; top:7px; right:9px;}
      }
    }
  }

  //
  .stats-dropshield                 {position:fixed; top:0px; left:0px; /*z-index:100;*/ width:100%; height:100%;
    &.open                          {display:inline-block !important;}
  }

  //
  .slider                           {z-index:101; position:absolute; bottom:-68px; left:0px; width:640px; height:70px; padding:10px; background:$dark-blue; color:$light-blue; border-radius: 5px; user-select: none;
    &.open                          {@include drop-shadow(0px, 1px, 4px, rgba(#013342, 0.6), 0px); display:inline-block !important;}

    .close                          {position:absolute; top:1px; right:5px; font-size:21px; line-height:21px; cursor:pointer; }

    //
    .days                           {font-size:11px; margin-left:4px;
      .day                          {display:inline-block; width:76px; text-align:center; }
    }

    //
    .slide-range                    {width:100%; height:50px; position:relative;

      //
      svg                           {position:absolute; top:0px; left:0px;
        &.lines                     {}
        &.data                      {top:40px;}
      }

      //
      .handle                       {margin-top:-5px; height:62px; width:75px; position:absolute; z-index: 2; cursor:pointer;
        &:hover:before              {opacity:0.5; @include transition(opacity, 0.1s); }
        &:before                    {@include transition(opacity, 0.4s); content:""; position:absolute; background:#288EAD; top:0; bottom:0; left:0; width:100%; opacity:.3; z-index:-1; }

        //
        .side                       {color:$yellow; text-align:center; font-size: 9px; margin:5px 3px;
          .slider-label             {text-transform:uppercase;}
          .hour                     {font-size:13px; }
          &:before                  {content:""; position:absolute; top:-1px; bottom:-1px; width:3px; border:1px solid white; }
          &:after                   {content:""; position:absolute; top:28px; display:block; height:0px; width:0px; border:5px solid transparent; }

          //
          &.left                    {float:left;
            &:before                {left:-1px; border-right-color:transparent; }
            &:after                 {border-right-color:$yellow; left:-13px; }
          }

          //
          &.right                   {float:right;
            &:before                {right:-1px; border-left-color:transparent; }
            &:after                 {border-left-color:$yellow; right:-13px; }
          }
        }
      }

      //
      rect {
        &.cool                      {color:$cool;}
        &.warm                      {color:$warm;}
        &.hot                       {color:$hot;}
      }

      //
      .loading                      {position: absolute; color:#FFF; top:17px; text-align:center; width:100%; font-size:14px;
        span                        {position: absolute; /* Doesn't effect centering this way */ }
       }
    }
  }
}
