@include temperatures();

//
.micro-view           {display:flex; width:100%; padding:5px; align-items:center;

  // labels
  .labels             {margin-left:8px; text-align:right;
    .label            {font-size:8px; line-height:10px; color:$gray; text-transform:uppercase;}
  }

  // live stats
  .live-stats         {display:flex; margin-left:8px;
    svg               {
      rect            {fill:$light-gray; transition: fill 200ms ease;
        &.cool        {fill:$cool;}
        &.warm        {fill:$warm;}
        &.hot         {fill:$hot;}
      }
    }
  }

  // face
  .face               {margin:0px 8px;
    .shadow-parent    {height:$face-size; width:$face-size;}
  }
}
