@include temperatures();

//
.micro-view           {display:flex; width:100%; padding:5px; align-items:center; justify-content:space-around;

  //
  & > *               {margin:0px 5px;}

  // labels
  .labels             {text-align:right;
    .label            {font-size:8px; line-height:10px; color:$gray; text-transform:uppercase;}
  }

  // live stats
  .live-stats         {display:flex;
    svg               {
      rect            {fill:$light-gray; transition: fill 200ms ease;
        &.cool        {fill:$cool;}
        &.warm        {fill:$warm;}
        &.hot         {fill:$hot;}
      }
    }
  }

  // face
  .face               {
    .shadow-parent    {height:$face-size; width:$face-size;}
  }
}
