$face-size : 22px;

.livesvg         { @include temperatures();
  rect           { fill:#DEDEDE; transition: fill 500ms;}
  rect.bg        { fill: #DEDEDE;}
  rect.lines     { fill: white; opacity:0.6}
  text           { fill:#BABABA; font-size:9px; font-family: Museo; }
}
.livesvg.large   { transition:fill 60ms;
  // because the elements are nested, we can't just use the mixin
  .cool          {
    .stats       { fill: $cool; }
    text         { fill: $cool; }
  }
  .warm          {
    .stats       { fill: $warm;; }
    text         { fill: $warm;; }
  }
  .hot           {
    .stats       { fill: $hot; }
    text         { fill: $hot; }
  }
  .sleep         {
    .stats       { fill: $sleep; }
    text         { fill: $sleep; }
  }
  text           { font-family:Museo; text-transform:uppercase;
    &.percentage { font:{size:12px; weight:bold;}}
  }
}
