@include temperatures();

//
.standard-view        {display:flex; width:100%; padding:5px; align-items:center; justify-content:space-around;

  //
  & > *               {margin:0px 5px;}

  // labels
  .labels             {text-align:right;
    .label            {font-size:8px; line-height:10px; color:$gray; text-transform:uppercase;}
  }

  // histroical stats
  .historical-stats   {display:flex;
    svg               {
      g               {
        rect          {fill:$light-gray; transition: fill 200ms ease;
          &.cool      {fill:$cool;}
          &.warm      {fill:$warm;}
          &.hot       {fill:$hot;}
        }
      }
    }
  }

  //
  .divider            {background:$light-gray; width:1px; height:36px;}

  // live stats
  .live-stats         {display:flex;
    svg               {
      rect            {fill:$light-gray; transition: fill 200ms ease;
        &.cool        {fill:$cool;}
        &.warm        {fill:$warm;}
        &.hot         {fill:$hot;}
      }
    }
  }

  // percentages
  .percentages        {margin-left:8px;
    .percent          {font-size:10px; line-height:10px; color:$gray; text-align:left;}
  }

  // face
  .face               {margin-left:8px;
    .shadow-parent    {height:$face-size; width:$face-size;}
  }
}
