.strip-view          { display:flex; align-items:center; justify-content:center;
  .labels,
  .percentages       { font-size:10px; font-size:8px; text-transform: uppercase; color:#BABABA;line-height: 1.3; text-align: right; }
  .labels            {  }
  .percentages       { margin-left:5px; }
  .faceholder        { height:$face-size; width:$face-size; margin-left:6px;  }
  .historic, .graphs { margin-top:3px; }
  .historic          { margin-left:6px; }
  .divider           { background:#DDD; margin:0 8px 0 5px; width:1px; height: 38px; }
}
