// mixins and vars

$dark-blue   : #173048;
$light-blue  : #407287;
$yellow      : #CCC;


@mixin temperatures   {
  .cool               {fill: $cool;}
  .warm               {fill: $warm;}
  .hot                {fill: $hot;}
  .sleep              {fill: $sleep;}
}
