$light-gray: #DEDEDE;
$lighter-gray: #e8e8e8;
$gray: #bababa;
$blue: #76b5c1;

@import '../../libs/core-styles/core';
@import 'vars-and-utils';
@import 'now';
@import 'historic';
@import 'micro-view';
@import 'standard-view';
@import 'expanded-view';
