.current-stats      {width:50px;
  .value            {position:relative; height:5px; &:not(:last-child) {margin-bottom:3px;}
    & > *           {height:inherit; background:$stat-bg-gray;}
    .foreground     {@include transition(all, 0.25s); position:absolute; top:0px; left:0px; z-index:1; min-width:2px; background:$_cool; &.empty {visibility:hidden;}}
    .background     {position:absolute; top:0px; left:0px; z-index:0; width:100%;}
  }
}
