.nanobox-dash-ui-hourly-stats
  .expanded-view(class="#{classes}")
  
    .stats
      .historic-stats
      .current-stats
      .metas
    
    //- 
    .timeline
    
    //- 
    .toggle-slider
      span Date Range
      
    //- 
    //- .slider-dropshield(style = "display:none;")
    //- .slider(style = "display:none;")
    //-   .close &times;
    //-   .days
    //-   
    //-   //- 
    //-   .slide-range
    //-     .handle
    //-       .side.left
    //-       .side.right
