.expanded-view
  .slider-dropshield(style="display:none;")
  .stat-row
    .historical-stats
    .live-stats
    .stats
      each stat in stats
        .stat(class = stat.metric)
          .percent #{stat.value}%
          .label #{stat.metric}
  .timeline

  //- 
  .toggle-slider
    span Date Range
    
  //- 
  .slider(style="display:none;")
    .close &times;
    .days
    
    //- 
    .slide-range
      .handle
        .side.left
        .side.right
