.nanobox-dash-ui-hourly-stats
  .expanded-view(class="#{classes}")
  
    .stats
      .historic-stats
      .current-stats
      .metas
    
    //- 
    .timeline
    
    //- 
    .toggle-slider
      span Date Range
      
    //- 
    #slidershield(style = "display:none;")
    #slider(style = "display:none;")
      .close &times;
      .days
      
      //- 
      .range
        .rule
        .data
        .handle
          .side.left
          .side.right
