body          {margin:0; padding:0; background:#DFDFDF;}

//
.view         {display:flex;
  & > *       {margin-bottom:20px; background:white;}
  &.micro     {width:125px;}
  &.standard,
  &.expanded  {width:345px;}
}
